audio {
  display: none;
}

.none {
  display: none;
}

.container {
  position: absolute;
  width: 91%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.inner-container {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.big-text {
  font-size: 8vw;
}

.normal-text {
  font-size: 4vw;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
